* {
	margin:0;
	padding:0;
}

#header{
	background:url('../img/fon.jpg');
	height: 250px;
}

#header img {
	float: left;
	height: 150px;

}


#logotext{
	font-variant:small-caps;
	font-style:oblique;
	font-weight:bold;
	float: right;
	color: brown;
	text-shadow: 1px 1px 3px black;
	font-size: 50px;
	padding: 4px 10px 0 0;
}
#logotext2{
	font-variant:small-caps;
	float: left;
	font-weight:bold;
	font-style:oblique;
	color: brown;
	text-shadow: 1px 1px 3px black;
	font-size: 20px;
	padding: 150px 0 0 0;
	}
	

	
.topmenu{
	display:flex;
	width:100%;
	margin:0 auto;
}
.topmenu a{
	flex: 1;
	font-style:oblique;
	font-weight:bold;
	display: block;
	padding: 10px 0;
	text-align: center;
	background: brown;
	color: white;
	border-right: solid 1px wight;
	text-decoration: none;
	}
	.leftmenu {
		padding-top:5px;
		}
.leftmenu a {
	background: brown;
	font-weight:bold;
	border-color:brown;
	font-style:oblique;
}
.leftmenu a.focus, .leftmenu a:focus {
	background: brown;
	font-weight:bold;

	}
.leftmenu a:hover{
	background: grey;
	color: brown;
	}
.btn btn-success btn-block{
	background: brown;
}

.topmenu a:hover{ 
	background: grey;
	color: brown;
		}
.col-md-8{
color: brown;
}
	
	
.banner1{
	background-image: url('../img/banner1.jpg');
	width: 400px;
	height: 200px;
    
			}
.banner2{
	background-image: url('../img/banner2.jpg');
	width: 400px;
	height: 200px;
  
	
	}
.banner3{
	background-image: url('../img/banner3.jpg');
	width: 400px;
	height: 200px;
    	
	}
.col-md-4{
	padding:150px 50px 50px 50px;
	}
	
	
	
	
	
	

.bordur{
  	background: url('../img/block.jpg');
	height: 300px;
	margin: 0 0 30px 0; 
	
	
	}
.bordur2{
	background: url('../img/.jpg');
		}
.a1{
	color: brown;
	font: bold 25px Arial;
	padding: 800px 10px 0 30px;
	}
.b1{
	color: brown;
	padding: 0 10px 0 30px;
	font-style:oblique;	
	}	
#player{
	width: 730px;
	margin:20px auto;
	padding: 10px 5px 5px 5px;
	background: #999;
	border: solid 1px block;
	border-radius: 6px;
}
#play, #mute{
	padding: 2px 10px;
	width: 65px;
	border: solid 1px green;
	background: #ddd;
	font-weight: bold;
	border-radius: 6px;
}
#bar{
	float: left;
	width: 400px;
	height: 16px;
	margin: 2px 5px;
	border: 1px solid #ccc;
	background: #eee;
	
	
	}
#button{
	float: left;
	width: 135px;
	height: 15px;
	padding-left: 5px;
		}
#progress{
	width: 0;
	height: 16px;
	background: red;
}
.clear {
	clear: both;
	}
#control{
	width: 165px;
	float: left;
}	
		
		
		
		
		
		@media screen and (max-wight: 600px){ 
		.topmenu{
			flex-direction: column;}
		}
		#heаder {
			 height: 200px;
			}
		#footer{
			padding: 40px 0;
			text-align: center;
			background: ;
		}



