extends layout
block scripts
    script(src='media/js/drop_api.js')

block content
 section#drawbox  Перетащить сюда
 section#picturebox
  img#image1(src='/media/img/ler.jpg')
  img#image2(src='/media/img/puch.jpg')
  img#image3(src='/media/img/dost.jpg')
  img#image4(src='/media/img/esen.jpg')
  img#image5(src='/media/img/tolst.jpg')
  img#image6(src='/media/img/gog.jpg')
  img#image7(src='/media/img/maiak.jpg')
  img#image8(src='/media/img/shol.jpg')
  img#image9(src='/media/img/blok.jpg')
    
