extends layout

block content
 h2.h2main Добро пожаловать на BESTBOOK
 .maintext
   br
   | Вы наконец заглянули к нам в поисках доброй пары-тройки книг? Мы бесконечно рады, ведь именно затем, дорогой читатель, книжный интернет-магазин "BestBook" и собрал огромную библиотеку. 
   br