doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   div.menu
    a(href='/') Главная
    a(href='/contact') Контакты
    a(href='/about') O нас
   block content