extends layout
block scripts
    script(src='media/js/player.js')
block styles
    link(href='media/css/player.css', rel='stylesheet')
block content
    section#player
      video#media(width='720', height='400')
        source(src='http://www.formasterminds.com/content/trailer.mp4')
        source(src='http://www.formasterminds.com/content/trailer.ogv')
      nav
        #button
          input#play(type='button', value='play')
          input#mute(type='button', value='mute')
        #bar
          #progress
        #control
          input#value(type='range', min='0', max='1', step='0.1', value='0.6')
        .clear
